Repository HackOSS-ASTRA/Testing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YoNG-Zaii, @jaredpek, @TylerGoh, @MagdelineNg, @anushaaggarwal, @hienvantran

test: PR automation
  be/Test.md
  fe/Test.md
Owners: @TylerGoh, @jaredpek

test: PR test 2
  trading/Test.md
Owners: @MagdelineNg, @anushaaggarwal, @hienvantran

chore: uncomment GH actions
  .github/workflows/pull-request.yml
Owners: @YoNG-Zaii

feat: change workflow
  .github/workflows/pull-request-validation.yml
  .github/workflows/pull-request.yml
  README.md
Owners: @YoNG-Zaii

chore: Update Linear ID prefix
  .github/workflows/pull-request-validation.yml
Owners: @YoNG-Zaii

test: PR title validation
  README.md
Owners: @YoNG-Zaii

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Default owner of repo
*       @YoNG-Zaii

# Front-end directory
/fe/ @jaredpek

# Back-end directory
/be/ @TylerGoh

# Algorithmic trading
/trading/ @MagdelineNg @anushaaggarwal @hienvantran

# Simulation
/simulation/ @hienvantran

# Sentiment
/sentiment/ @anushaaggarwal
